:root {
  --primary-colour: #00afb9;
  --secondary-colour: white;
  --normal-image-size: 300px;
  --small-image-size: 200px;
}

/*HEADER/////////////////////////////////////////*/
header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: var(--primary-colour);
}

.nav-item {
  font-size: 200%;
  font-weight: bolder;
  margin: 0 1.5vw;
}

.nav-list {
  margin-top: 1.5vh;
  display: flex;
  justify-content: right;
}
h1 {
  font-size: 300%;
}
a {
  text-decoration: none;
  color: var(--secondary-colour);
}
a:visited {
  text-decoration: none;
  color: var(--secondary-colour);
}

.portfolio-header {
  display: flex;
  align-items: center;
}

.header-title {
  margin-left: 1vw;
}

/*Main ////////////////////////////////////////////////////*/
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*About me + General settings/////////////////////////////*/
section {
  margin-top: 2vh;
  margin-bottom: 5vh;
  width: 95%;
  border-left: solid 5px var(--primary-colour);
}

h2 {
  margin-left: 1.5vw;
  font-size: 250%;
  font-weight: bolder;
  border-bottom: 2px solid var(--primary-colour);
  margin-bottom: 1rem;
}

article {
  display: flex;
}

p {
  margin: 1vw;
}
.image-container {
  min-width: var(--normal-image-size);
  min-height: var(--normal-image-size);
  width: var(--normal-image-size);
  height: var(--normal-image-size);
  border: 3px solid var(--primary-colour);
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/*PROJECT ////////////////////////////*/
.project-card {
  position: relative;
  margin: 0.75em;
  border: 5px orangered solid;
  object-fit: cover;
}
.main-card {
  min-height: 500px;
  height: 500px;
  width: 95%;
}
.extra-card {
  min-height: 300px;
  height: 300px;
  width: 30%;
}
.project-image {
  object-fit: cover;
}
.project-article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/*MEDIA QUERIES////////////////////////////////////////////*/
@media screen and (max-width: 790px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  .image-container {
    min-width: var(--small-image-size);
    min-height: var(--small-image-size);
    width: var(--small-image-size);
    height: var(--small-image-size);
  }
  .extra-card {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .nav-item {
    font-size: 150%;
  }
  .image-container {
    order: 1;
  }
  .p-container {
    order: 2;
  }
  article {
    flex-direction: column;
    align-items: center;
  }
  .extra-card {
    width: 80%;
  }
}
