:root {
  --primary-colour: #011627;
  --secondary-colour: #648de5;
  --tertiary-colour: #fafffd;
  --normal-image-size: 300px;
  --small-image-size: 200px;
  --media-link-size: 40px;
}
.anchor {
  scroll-margin-top: 100px;
}
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/*HEADER/////////////////////////////////////////*/
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
  background-color: var(--primary-colour);
  color: var(--tertiary-colour);
  z-index: 999;
  font-family: monospace;
}

.nav-item {
  display: flex;
  font-size: 225%;
  font-weight: bolder;
  margin: 0 1.5vw;
  margin-bottom: 1vh;
}

.nav-list {
  margin-top: 1.5vh;
  display: flex;
  justify-content: right;
}
h1 {
  font-size: 300%;
}
a {
  text-decoration: none;
  color: var(--tertiary-colour);
}
a:visited {
  text-decoration: none;
  color: var(--tertiary-colour);
}

.portfolio-header {
  display: flex;
  align-items: center;
}

.header-title {
  margin-left: 1vw;
}
.social-link {
  display: inline-block;
  margin-left: 0.5rem;
  min-width: var(--media-link-size);
  min-height: var(--media-link-size);
  width: var(--media-link-size);
  height: var(--media-link-size);
}
.social-link-first {
  margin-left: 2rem;
}
.git-link {
  object-fit: fill;
}
.social-link-background {
  background-color: white;
  border-radius: 0.5rem;
}
.hero-container {
  display: flex;
  position: relative;
}
.hero {
  margin-top: 80px;
  max-width: 100%;
  max-height: 300px;
  height: 300px;
  object-fit: cover;
}
.moto {
  padding: 1rem;
  bottom: 0px;
  position: absolute;
  background-color: var(--secondary-colour);
  border-radius: 0.5rem;
  color: var(--tertiary-colour);
  box-shadow: 5px 5px var(--primary-colour);
}

/*Main ////////////////////////////////////////////////////*/
main {
  padding-top: 5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*About me + General settings/////////////////////////////*/
section {
  margin-top: 0;
  margin-bottom: 5vh;
  width: 95%;
  border-left: solid 5px var(--primary-colour);
}

h2 {
  margin-left: 1.5vw;
  font-size: 250%;
  font-weight: bolder;
  border-bottom: 2px solid var(--primary-colour);
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  color: var(--primary-colour);
}

article {
  display: flex;
}

p {
  margin: 1vw;
}
.image-container {
  min-width: var(--normal-image-size);
  min-height: var(--normal-image-size);
  width: var(--normal-image-size);
  height: var(--normal-image-size);
  border: 3px solid var(--secondary-colour);
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/*PROJECT ////////////////////////////*/
.project-card {
  margin: 0.75em;
  border: 5px var(--secondary-colour) solid;
  border-radius: 4px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.15s ease-out;
}
.main-card {
  min-height: 500px;
  height: 500px;
  width: 95%;
}
.extra-card {
  max-height: 300px;
  height: 300px;
  width: 30%;
}

.project-image {
  object-fit: cover;
}
.project-article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  padding: 1rem;
  padding-bottom: 0;
  background-color: var(--tertiary-colour);
  font-size: 150%;
  border-bottom-right-radius: 1rem;
  font-weight: bold;
  color: black;
}
.project-card:hover {
  border: 10px var(--secondary-colour) solid;
}
.project-subtext {
  font-size: 60%;
}

/*CONTACT ME/////////////////////////////////////////////*/

.contact-container {
  display: flex;
  cursor: pointer;
  margin-right: 2vw;
  padding: 0;
}
.contact-section {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contact {
  position: relative;
  margin: 0.5rem;
  margin-bottom: 2rem;
  color: rgb(45, 15, 156);
  font-weight: bolder;
  font-size: 150%;
  text-decoration: underline;
}
.phone::before {
  display: inline-block;
  content: "📞";
}
.twitter::before {
  content: url(../images/Twitter.png);
}
/*MEDIA QUERIES////////////////////////////////////////////*/
@media screen and (max-width: 980px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  .nav-item {
    font-size: 200%;
    text-align: center;
    display: flex;
  }
  main {
    padding-top: 137px;
  }
  .anchor {
    scroll-margin-top: 150px;
  }
}
@media screen and (max-width: 790px) {
  .image-container {
    min-width: var(--small-image-size);
    min-height: var(--small-image-size);
    width: var(--small-image-size);
    height: var(--small-image-size);
  }
  .extra-card {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  article {
    flex-direction: column;
    align-items: center;
  }
  .extra-card {
    width: 80%;
  }
  .image-container {
    order: 1;
  }
  .p-container {
    order: 2;
  }
  .nav-item {
    font-size: 140%;
  }
  h1 {
    font-size: 250%;
  }
  .moto {
    font-size: 125%;
  }
}
